*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}


body{
    height: 100vh;
    background-image: url(./img/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 96px 16px 96px;
    font-family: 'Inter', sans-serif;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
header a{
    color: #22FFFE;
    font-size: 1.5rem;
}



main{
    flex-grow: 1;
    display: flex;
}
.filme-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.descricao{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}

.descricao p{
    width: 535px;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
}



.trailers{
    height: 138px;
    display: flex;
    gap: 32px;
}




.social-container{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
    text-decoration: #22FFFE;
}



footer{
    background-color: blueviolet;
    height: 50px;
}