*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

html{
    overflow: hidden;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 96px 16px 96px;
    font-family: 'Inter', sans-serif;
    z-index: -100;
    overflow: hidden;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
header a{
    color: #22FFFE;
    font-size: 1.5rem;
    /* border-bottom: 2px solid transparent; */
}
header a:hover{
    border-bottom: 4px solid #22FFFE;
}
header i.fa-solid{
    display: none;
}
header .logo-dc:hover{
    border-bottom: 4px solid transparent;
}
header .overlay{
    display: none;

}



main{
    flex-grow: 1;
    display: flex;
}
.filme-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.descricao{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}
.descricao button{
    display: none;
}

.descricao p{
    width: 535px;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
}



.trailers{
    height: 130px;
    display: flex;
    gap: 32px;
    align-items: center;
}
.trailers img:hover{
    border-bottom: 8px solid transparent;
}




.social-container{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
    text-decoration: #22FFFE;
}
.social-container i:hover{
    color: #22FFFE;
    border-right: 8px solid transparent;
}



footer{
    height: 50px;
    color: #fff;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IPAD MINI */
@media (max-width:768px){
    body{
        padding: 32px 0px 0px 0px;
        background-image: url(./img/background-tablet.png);
    }

    .social-container{
        display: none;
    }

    .filme-container{
        align-items: center;
    }

    .descricao{
        padding: 60px;
        justify-content: flex-start;
        flex-grow: 0;
    }

    .trailers{
        flex-direction: column;
    }
    .trailers img{
        width: 500px;
    }
    .trailers a:nth-child(3){
        display: none;
    }



    footer{
        display: none;
    }
}

/*SMARTPHONE */
@media (max-width:480px){
    
    body{
        width: 100vw;
        background-image: url(./img/background-mobile.png);
        background-size: cover;
    }
    header{
        padding: 0px 24px;
        justify-content: space-between;
    }
    header a{
        display: none;
        height: 47px;
        width: 48px;
    }
    header .logo-dc{
        display: block;
        border-bottom: none;
    }
    header i.fa-solid{
    color: #D040FF;
    font-size: 32px;
    }

    header i.fa-bars{
        display: block;
    }
    header.menu i.fa-bars{
        display: none;
    }
    header.menu i.fa-bars + .fa-xmark{
        display: block;
    }

    header .overlay{
        display: block;
        position: absolute;
        background: rgb(188,39,237);
        background: linear-gradient(135deg, rgba(188,39,237,1) 0%, rgba(155,13,202,1) 35%, rgba(34,255,254,1) 100%);

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        transform: translateX(100%);
        transition: .3s;    

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    header .overlay a{
        display: block;
        font-size: 2rem;
        color: #fff;
        width: 100%;
        text-align: center;
    }
    header.menu i.fa-bars ~ .overlay{
        transform: translate(0%);
    }

    main{
        z-index: -2;
    }

    .descricao{
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        height: 100%;
        padding-bottom: 30px;
    }
    .descricao button{
        display: block;
        background-color: #D040FF;
        border-radius: 50px;
        width: 200px;
        height: 50px;
        border: 2px solid #22FFFE;
        font-size: 1.2rem;
    }
    .descricao img{
        width: 95vw;
    }
    .descricao p{
        display: none;
    }
    .trailers{
        display: none;
    }
}